ssailr_gui/__pychache__
env/
data_large/
data_small/
data/
modified_counts/
scripts_enrichments/res.txt
scripts_enrichments/1-res.txt
scripts_enrichments/2-res.txt
scripts_enrichments/1-res-old.txt
scripts_enrichments/2-res-old.txt
scripts_enrichments/simple_res.txt
scripts_enrichments/1-simple_res.txt
scripts_enrichments/2-simple_res.txt
scripts_enrichments/bootstrapped_res.txt
output/
result
test.py
**/*.pyc